RewriteEngine On

# Pokud soubor nebo složka existuje, neřeš
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Jinak přesměruj vše na index.php
RewriteRule ^ index.php [QSA,L]